.social-list {
  @extend %align;
  column-gap: 10px;
}
.social-item-link {
  @extend %align;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);

  .social-item-link:hover &,
  .social-item-link:focus & {
    fill: #ffffff;
  }
}

.footer-social-container {
  width: 206px;
}
.footer-social-list {
  @extend %align;
  column-gap: 10px;
}
.footer-social-link {
  @extend %align;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-icon {
  fill: #ffffff;
}

