.subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature__subtitle,
.footer-subtitle{
  font-size: inherit;
}
.feature__subtitle {
  margin-bottom: 10px;
}
.footer-subtitle {
  margin-bottom: 20px;
  color: #ffffff;
}
